$messenger-back: blue;
$grid:1fr 1fr;
$border: thin solid black;
$back : green;

.container{
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    width: 100vw;
}

.content-wrapper{
    display: grid;
    grid-template-columns: $grid;
    width: 100vw;
    height: 75vh;
}

.info{
    border: $border;
    
}

.story{
    border: $border;
    
}

.chat{
    display: inline-block;
    border: $border;
    
}

.misc{
    border: $border;
    
}
body{
    display: grid;
    margin: 0;
    padding: 0;
   
}

.messenger-wrapper{
    display: grid;
    position: absolute;
    bottom: 0;
    height: 23vh;
    width: 100vw;
    background-color: $messenger-back;
    grid-template-columns: $grid;

}

.send{
    position: absolute;
    bottom: 0;
}
.convo{
    position: absolute;
    bottom: 0;
    width: 43vw;
    
}